* {
  justify-content: center;
  text-align: center;
}

.app {
  color: rgb(247, 0, 0);
  margin: 30px;
}

.box {
  height: 75vh;
  background-color: #;
  width: 450px;
  margin-bottom: 35px;
  border-radius: 20px;
  max-width: 500;
  max-height: 1200px;
}
