.App-link {
    color: #09d3ac;
}

.form-group {
    height: 90px;
}

.head {
    color: rgb(2, 201, 236);
}

.text-left {
    margin-top: 15px;
    margin-left: 15px;
}

.text-down {
    font-size: 25px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#id {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 80px;
    padding: 20px;
    background-color: wheat;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
    width: 500px;
    transition: ease-in-out, width 0.35s ease-in-out;
}

#password-id {
    flex: 5;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 80px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
    width: 500px;
    transition: ease-in-out, width 0.35s ease-in-out;
}

.submit-btn {
    width: 120px;
}
