#footer-text {
    color: white;
    padding: 10px;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(34, 156, 178);
}

footer:hover {
    background-color: rgb(34, 156, 178);
    padding: 1px;
    color: #ffffff;
    font-weight: bold;
    animation: ease-in-out, width 0.35s ease-out;
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.4s;
}
